.address {
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.address__map {
  width: 100%;
  height: 365px;
}

@media (min-width: $tablet-width) {
  .address__map {
    height: 352px;
  }
}
