.address {
  position: relative;
  line-height: 0;
  background-image: url("../img/map-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $gray;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}

.address__pin {
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}


.address__map {
  width: 100%;
  height: 365px;
  border: none;
}

@media (min-width: $tablet-width) {
  .address__map {
    height: 352px;
  }
}
