.comment {
  padding: 20px 20px;
  outline: 2px solid darkblue;
}

.comment__title {
  text-align: center;
}

.comment__textarea {
  margin-top: 20px;
  width: 100%;
  min-height: 160px;
  padding: 10px 10px;
  resize: none;
}
