.comment {
  padding: 18px 20px 28px;
}

.comment__title {
  text-align: center;
}

.comment__textarea {
  margin-top: 15px;
  width: 100%;
  min-height: 160px;
  padding: 15px 18px;
  resize: none;
  font-size: 15px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .comment {
    padding: 18px 60px 28px;
  }

  .comment__textarea {
    padding: 19px 21px;
    margin-top: 56px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    padding: 18px 120px 28px;
  }
}
