.development {
  display: flex;
  gap: 13px;
  align-items: center;
}

.development__title {
  font-size: 14px;
  font-weight: normal;
}

.development__logo {
  margin-top: 5px;

  &:hover {
    fill: $blue;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}
