.find-hotel {
  max-width: 482px;
  padding: 20px 20px;
}

.find-hotel__title {
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__description {
  margin-top: 24px;
}

.find-hotel__button {
  margin-top: 24px;
}

.find-hotel__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .find-hotel__title {
    font-size: 30px;
  }

  .find-hotel__br {
    display: block;
  }
}
