.header-img {
  position: relative;
  z-index: -1;
  min-height: 390px;
  padding-top: 91px;
  margin-top: -36px;
  background-image: url("../img/back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-img__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

.header-img__because {
  margin-top: 2px;
  margin-right: 11px;
}

@media (min-width: $tablet-width) {
  .header-img {
    min-height: 520px;
  }
}
