.initial {
  position: relative;
  padding: 32px 25px 32px 25px;

  &::before {
    content: "";
    position: absolute;
    top: 92%;
    left: -70%;
    width: 768px;
    height: 36px;
    background-image: url("../img/element-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.initial__description {
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .initial {
    max-width: 534px;
    padding: 45px 25px 54px 25px;
  }
}

@media (min-width: $desktop-width) {
  .initial {
    padding: 55px 25px 43px 25px;
  }

}
