.initial {
  position: relative;
  padding: 32px 25px 13px;

  &::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    background-image: url("../img/element-mobil-two.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.initial__description {
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .initial {
    max-width: 100%;
    padding: 42px 25px 54px;

    &::before {
      content: "";
      position: absolute;
      top: -57px;
      left: 0;
      right: 0;
      width: 768px;
      height: 57px;
      margin: 0 auto;
      text-align: center;
      background-image: url("../img/element-tablet.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .initial {
    padding: 53px 25px 43px 25px;
  }
}
