.photo-block {
  text-align: start;
  border-top: 1px solid;
}

.photo-block__card {
  padding: 20px 20px;
  border-bottom: 1px solid;
}

.photo-block__title {
  font-size: 14px;
}

.photo-block__description {
  text-transform: none;
}

.photo-block__counter {
  font-size: 14px;
  font-weight: bold;
}
