.photo-block {
  text-align: start;
  border-top: 1px solid $gray-hover;
}

.photo-block__card {
  display: flex;
  padding: 22px 0 15px;
  border-bottom: 1px solid $gray-hover;
}

.photo-block__grid {
  padding-top: 3px;
}

.photo-block__group {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 9px;
}

.photo-block__title {
  font-size: 14px;
}

.photo-block__description {
  text-transform: none;
}

.photo-block__counter {
  font-size: 14px;
  font-weight: bold;
}

.photo-block__like svg {
  opacity: 0.3;
}

.photo-block__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .photo-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 59px;
    border-top: none;
  }

  .photo-block__card {
    padding: 0;
    border-bottom: none;
  }

  .photo-block__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px 15px 21px;
    background-color: $gray-light;
  }

  .photo-block__card:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .photo-block__img {
    width: 100%;
    height: 267px;
    object-fit: cover;

    &--first {
      height: 400px;
    }
  }

  .photo-block__container {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    line-height: 0;
  }

  .photo-block__group {
    justify-content: end;
    align-items: center;
    gap: 9px;
    width: 67px;
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .photo-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
    padding: 0;
  }

  .photo-block__container {
    position: relative;
  }

  .photo-block__grid {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 18px 15px 21px;
    color: $white;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .photo-block__like svg {
    opacity: 1;
    fill: $white;
  }
}
