.presentation {
  padding: 31px 0 38px;
}

.presentation__description {
  margin-top: 28px;
  padding: 0 22px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .presentation {
    padding: 58px 0 40px;
  }

  .presentation__title {
    font-size: 30px;
  }

  .presentation__description {
    width: 488px;
    margin: 32px auto 0;
  }

  .presentation__video {
    margin-top: 79px;
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    padding: 51px 0 82px;
  }
}
