.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 151px;
}

.social__link {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 48px;
  width: 46px;
  background-color: $blue;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }

  &:active .social__logo {
    opacity: 0.3;
  }
}
