.video {
  position: relative;
}

.video__img {
  display: block;
  width: 320px;
  margin: 34px auto 0;
}

.video__track {
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  width: 281px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.6;
  background-color: $black;
}

.video__slider {
  position: relative;
  display: block;
  top: 22px;
  left: 0;
  right: 0;
  width: 238px;
  height: 3px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.2;
  background-color: $white;
}

.video__pin {
  position: relative;
  display: block;
  content: "";
  top: 16px;
  left: 58px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $white;
}


.video__instruments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-light;
  width: 281px;
  height: 66px;
  padding: 0 16px;
  margin: 0 auto;
}

.video__group {
  display: flex;
  gap: 21px;
}

.video__replay,
.video__cc,
.video__fullscreen {
  border: none;
  background-color: transparent;
}

.video__replay svg,
.video__cc svg,
.video__fullscreen svg {
  fill: $dark-gray-buttons;

  &:hover {
    fill: $dark-gray;
  }

  &:active {
    fill: $dark-gray;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video__img {
    width: 648px;
    height: 501px;
  }

  .video__player {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 648px;
    height: 94px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__instruments {
    width: 100%;
    height: 100%;
    padding: 12px 34px 10px 30px;
    background-color: transparent;
  }

  .video__track {
    top: 23px;
    left: -75px;
    width: 439px;
    background-color: transparent;
  }

  .video__slider {
    width: 390px;
  }

  .video__pin {
    left: 139px;
  }

  .video__replay svg,
  .video__cc svg,
  .video__fullscreen svg {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .video__img {
    width: 800px;
  }

  .video__player {
    width: 800px;
  }

  .video__track {
    width: 553px;
  }

  .video__slider {
    width: 540px;
  }

  .video__pin {
    left: 119px;
  }
}
