$black: #000000;
$dark-gray: #333333;
$dark-gray-buttons: #5c6870;
$dark-gray-buttons-active: #b9b9b9;
$white: #ffffff;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$blue-dark: #678fa8;
$blue-light: #9ac2db;
$gray: #eeeeee;
$gray-disabled: #e5e5e5;
$gray-light: #f2f2f2;
$gray-hover: #e5e5e5;
$gray-active: #d5d5d5;
$gray-form: #e6e6e6;
$gray-line: #d6d6d6;
$gray-link: #766357;
$gray-link-hover: #604e43;
$gray-link-active: #d6d0cd;
