@import "colors";
@import "fonts";
@import "common";
@import "block/page";
@import "block/navigation";
@import "block/nav-list";
@import "block/header-img";
@import "block/initial";
@import "block/reason";
@import "block/advantages";
@import "block/other-reasons";
@import "block/find-hotel";
@import "block/photo-video";
@import "block/photo-block";
@import "block/video";
@import "block/presentation";
@import "block/feadback";
@import "block/form";
@import "block/personal-info";
@import "block/contact-info";
@import "block/impression-info";
@import "block/visited-info";
@import "block/comment";
@import "block/footer";
@import "block/address";
@import "block/social";
@import "block/development";
@import "block/success-pop-up";
@import "block/failure-pop-up";
